DB_URL=jdbc:mysql://localhost:3306/smart_complaint?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=your_mysql_password
ADMIN_PASSWORD=admin123
FRONTEND_ORIGIN=http://localhost:5173
